@font-face{
    font-family: 'Futura Handwritten';
    src: url('../../Assets/Fonts/FuturaHandwritten.ttf') format('truetype')
  }

.ChooseRoleTitle{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.TwoRoles{
    justify-content: center;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    /* line-height: 50px; */
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.ExperienceAsUser{
    justify-content: center;
    position: absolute;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    /* line-height: 50px; */
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.UserImage{
    position: absolute;
    top: 32%;
    left: 40%;
    transform: translateX(-50%);
}

.SuggesterImage{
    position: absolute;
    top: 32%;
    left: 60%;
    transform: translateX(-50%);
}

.ChooseRoleUser{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 62%;
    left: 40%;
    transform: translateX(-50%);
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.ChooseRoleSuggester{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 62%;
    left: 60%;
    transform: translateX(-50%);
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.LongButtonStyle{
    position: absolute;
    height: 63px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.LongButtonStyle:active{
    left: 49%;
    transform: translateX(-50%);
    opacity: 70%;
}

.ButtonText{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}