.Easygoing{
    height: 20px;
}

#Easygoing-alive-image{
    width: 20px;
    height: 20px;
}


#Easygoing-dead-image{
    width: 20px;
    height: 20px;
}

.Easygoing_Deposit{
    position: relative;
    top: -22px;
    left: 240px;
    text-align: left;
    font-size: 12px;
    letter-spacing: -1px;

}

.Easygoing_ID{
    position: relative;
    top: -37px;
    left: 260px;
    text-align: left;
    font-size: 12px;
}