.Easygoing{
    height: 30px;
}

#Easygoing-alive-reward-image{
    width: 30px;
    height: 30px;
}

#Easygoing-alive-punish-image{
    width: 30px;
    height: 30px;
}

#Easygoing-dead-reward-image{
    width: 30px;
    height: 30px;
}

#Easygoing-dead-punish-image{
    width: 30px;
    height: 30px;
}

.Easygoing_Deposit{
    /* left: 30px; */
    /* top: -30px; */
    /* font-size: 12px; */
    position: relative;
    top: -30px;
    left: 30px;
}

.Easygoing_ID{
    /* left: 30px; */
    position: relative;
    top: -52px;
    left: 80px;
}