@font-face{
    font-family: 'Futura Handwritten';
    src: url('../../../Assets/Fonts/FuturaHandwritten.ttf') format('truetype')
}

.SuggesterPhaseTitle{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.DepositGuide{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 500px;
    transform: translateX(-50%);
    font-size: 20px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.Deposit{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15%;
    transform: translateX(-50%);
    font-size: 12px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.SelectedDepositDescription{
    /* top: 50%; */
    position: absolute;
    top: 60%;
    font-size: 20px;
}

.SuggesterPhaseButtonStyle{
    position: absolute;
    width: 174px;
    height: 63px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.SuggesterPhaseButtonStyle:active{
    left: 49%;
    transform: translateX(-50%);
    opacity: 70%;
}

.SuggesterPhaseButtonText{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

/* loading */

.LoadingText{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}
 
.LoadingGuide{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 74%;
    left: 50%;
    width: 450px;
    transform: translateX(-50%);
    font-style: normal;
    font-size: 20px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

/* after loading */


.SettingGuide{

    position: absolute;
    top: 130%;
    left: 50%;
    width: 650px;
    transform: translateX(-50%);
    font-style: normal;
    font-size: 20px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

/* after setting  */

.AfterSetting_Suggester{
    position: absolute;
    height: 30%;
    left: 35%;
    top: 30%;
    transform: translateX(-50%);
}

.AfterSetting_User{
    position: absolute;
    height: 30%;
    left: 65%;
    top: 30%;
    transform: translateX(-50%);
}

#channel-image{
    position: absolute;
    /* height: 90%; */
    width: 21%;
    left: 50%;

    transform: translateX(-50%);
    top: 42%;
}

.channelGuideMsg{
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translateX(-50%);
    
    font-style: normal;
    font-size: 20px;
    font-family: 'Futura Handwritten';
}