@font-face{
    font-family: 'Futura Handwritten';
    src: url('../../../Assets/Fonts/FuturaHandwritten.ttf') format('truetype')
}

.UserPhaseTitle{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.SuggesterGuide{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    /* line-height: 50px; */
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.UserPhaseSuggesters{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.PickedSuggesterDescription{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 50px; */
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.DepositGuide{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 50px; */
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.UserPhaseButtonStyle{
    position: absolute;
    width: 174px;
    height: 63px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.UserPhaseButtonText{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* line-height: 50px; */
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

