@font-face{
    font-family: 'Futura Handwritten';
    src: url('../../../Assets/Fonts/FuturaHandwritten.ttf') format('truetype')
}

.UserPhaseTitle{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.InitMessage{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;

    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.ImageGuide{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;

    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

#imagebox{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 250px;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}

.RewardButtonStyle{
    position: absolute;
    width: 174px;
    height: 63px;
    bottom: 100px;
    left: 40%;
    transform: translateX(-50%);
}

.RewardButtonText{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 105px;
    left: 40%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.BurnButtonStyle{
    position: absolute;
    width: 174px;
    height: 63px;
    bottom: 100px;
    left: 60%;
    transform: translateX(-50%);
}

.BurnButtonText{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 105px;
    left: 60%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

 
/* deposit changed */

.DepositChanged_Content{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.DepositChanged_Suggester{
    position: absolute;
    height: 30%;
    left: 10%;
    transform: translateX(-50%);
}

.DepositChanged_User{
    position: absolute;
    height: 30%;
    left: 90%;
    transform: translateX(-50%);
}

#channel-reward-image{
    position: absolute;
    height: 55%;
    left: 50%;
    transform: translateX(-50%);
    top: 300%;
}

.depositGuideMsg{
    position: relative;
    top: 300px;
    font-style: normal;
    font-size: 12px;
    font-family: 'Futura Handwritten';
}

.recurGuideMsg{
    position: relative;
    top: 300px;
    font-style: normal;
    font-size: 12px;
    font-family: 'Futura Handwritten';
}

.ExperienceSuggesterButtonStyle{
    position: absolute;
    /* width: 174px; */
    height: 63px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.ExperienceSuggesterButtonText{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}
