@font-face{
    font-family: 'Futura Handwritten';
    src: url('../../Assets/Fonts/FuturaHandwritten.ttf') format('truetype')
  }

.Simulation{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 50.5%;
    transform: translateX(-50%);
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.Inputbox{
    position: absolute;
    width: 450px;
    height: 40%;
    left: 50.5%;
    top: 28%;
    font-family: 'Futura Handwritten';
}

.Inputbox_Container{
    position: absolute;
    width: 450px;
    left: 0%;
    top: -4%;
    /* top: 20%; */
}

.display{
    position: absolute;
    width: 450px;
    height: 40%;
    right: 50.5%;
    top: 28%;
    font-family: 'Futura Handwritten';
}

.display_Container{
    position: absolute;
    width: 450px;
    left: 0%;
    top: -4%;
    /* top: 20%; */
}

.UserList{
    position: absolute;
    width: 450px;
    left: -40%;
    top: 17%;
}

.SuggesterList{
    position: absolute;
    width: 450px;
    left: 20%;
    top: 17%;
}

#population-tab{
    position: absolute;
    top: 22%;
    left: 50%;
    width: 9%;

    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';

    border-radius: 8px;
    outline: 0;
    border: 0;
}

#population-tab:hover{
    background-color: aqua;
}

#environment-tab{
    position: absolute;
    top: 22%;
    left: 59.5%;
    width: 9%;

    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';

    border-radius: 8px;
    outline: 0;
    border: 0;
}

#environment-tab:hover{
    background-color: aqua;
}

#description-tab{
    position: absolute;
    top: calc(30% + 230px);
    left: calc(32% + 450px);
    width: 9%;

    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';

    border-radius: 8px;
    outline: 0;
    border: 0;
}

#description-tab:hover{
    background-color: aqua;
}

#start-simulation{
    position: absolute;
    /* bottom: 35%; */
    top: calc(30% + 230px);
    left: calc(41.5% + 450px);
    width: 9%;

    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';

    border-radius: 8px;
    outline: 0;
    border: 0;
}

#start-simulation:hover{
    background-color: aqua;
}

.DescriptionContent{
    position: absolute;
    width: 330px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
}

.NextButtonStyle{
    position: absolute;
    width: 174px;
    height: 63px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.NextButtonStyle:active{
    left: 49%;
    transform: translateX(-50%);
    opacity: 70%;
}

.NextButtonText{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

