@font-face{
    font-family: 'Futura Handwritten';
    src: url('../../Assets/Fonts/FuturaHandwritten.ttf') format('truetype')
  }

.Simulation{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.Sandbox_Selector{
    position: absolute;
    width: 450px;
    height: 40%;
    left: 50%;
    font-family: 'Futura Handwritten';
}

.Sandbox_Selector_Box{
    position: absolute;
    width: 450px;
    left: 50%;
    top: 20%;
}

.NextButtonStyle{
    position: absolute;
    width: 174px;
    height: 63px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.NextButtonStyle:active{
    left: 49%;
    transform: translateX(-50%);
    opacity: 70%;
}

.NextButtonText{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}