@font-face{
    font-family: 'Futura Handwritten';
    /* src: url('../Assets/Fonts/FuturaHandwritten.ttf') format('truetype') */
    src: url('../../../Assets//Fonts//FuturaHandwritten.ttf') format('truetype')
  }

.TerminateConditionTitle{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.TerminateImage1{
    position: absolute;
    top: 29%;
    width: 450px;
    left: calc(50% - 230px);
    transform: translate(-50%);
}

.TerminateImage2{
    position: absolute;
    top: 29%;
    width: 450px;
    left: calc(50% + 230px);
    transform: translate(-50%);
}

.TerminateExplain1{
    position: absolute;
    top: calc(30% + 230px);
    width: 360px;
    left: calc(50% - 230px);
    transform: translate(-50%); 
    font-size: 15px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.TerminateExplain2{
    position: absolute;
    top: calc(30% + 230px);
    width: 450px;
    left: calc(50% + 230px);
    transform: translate(-50%); 
    font-size: 15px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.ButtonStyle{
    position: absolute;
    width: 174px;
    height: 63px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.ButtonStyle:active{
    left: 49%;
    transform: translateX(-50%);
    opacity: 70%;
}

.ButtonText{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 105px;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}