@font-face{
    font-family: 'Futura Handwritten';
    src: url('../../Assets/Fonts/FuturaHandwritten.ttf') format('truetype')
  }

.EndTitle{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.TeamName{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    /* font-weight: bold; */
    font-size: 20px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.SourcePage{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 43.7%;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    /* font-weight: bold; */
    font-size: 20px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.Projects{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
    /* font-weight: bold; */
    font-size: 20px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Futura Handwritten';
}
