.GameTitle{
    display: flex;
    justify-content: center;
    top: 82px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}
/* 
.BoxStyle{
    position: absolute;
    width: 380.4px;
    height: 206.4px;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
} */

.ButtonStyle{
    position: absolute;
    width: 174px;
    height: 63px;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}