#suggester-image{
    width: 100px;
}

.Suggester{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.SelectSuggester{
    position: relative;
    font-size: 15px;
    text-align: center;
    font-family: 'Futura Handwritten';
}

.deposit{
    text-align: center;
    font-family: 'Futura Handwritten';
}

.Reputation{
    /* position: relative; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* margin-top: -50%; */
    /* font-style: normal; */
    /* font-size: 15px; */
    text-align: center;
    font-family: 'Futura Handwritten';
}